* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

a {
    text-decoration: none;
    color: var(--primary);
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --primary : #000000;
    --secondary : whitesmoke;
    --light: #F9F9F9;
    --black: #000000;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --white-smoke :whitesmoke;
}

body{
    background-color: var(--secondary);
}

nav{
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-items: center;
    top: 0;
    right: 0;
    justify-content: space-between;
}

nav *{
    color: white;
}

nav h1{
    margin-left: 3rem;
}

nav a{
    margin-right: 3rem;
}

body{
    margin-top: 100px;
}

.tips-description{
    width: 50%;
    margin: auto;

}

.term-condition{

    width: 70%;
    margin: auto;
}

.term-condition p{
    padding: 10px;
}

.number-outter-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.line-div {
    width: 2px;
    height: 100px;
    /* background-color: var(--secondary);  */
    border-left: 2px dotted var(--primary   );
    margin-top: 5px;

}

.note {
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.note h2{
    font-size: 18px;
}

li {
    display: flex;
    align-items: flex-start;
}

.warning{
    border: 1px solid black;
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
    padding: 20px;
    margin: 20px 0px;
}

.warning h2{
    color: red;
}


/* Table  */

.col-12 .table{
    width: 98%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    /* border-radius: 3rem; */
    overflow: auto;
    /*overflow: overlay;*/

}

.col-12 .table::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.col-12 .table::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.col-12 .table:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}



table, th, td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead tr {
    /* position: sticky; */
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

table tr td{
    vertical-align: middle;
}



td button{
    margin: 5px;
    padding: 3px 20px;
    border-radius: .4rem;
}

td .editing{
    background-color: #005c29;
    color: white;
    border: none;
}

td .deleting {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

td button i{
    font-size: 20px;
}

.cancel-buy{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-items: center;
    top: 0;
    right: 0;
    justify-content: flex-end;
    padding: 10px 30px;
}


.cancel-buying{
    border: 1px solid transparent;
    width: 90px;
    height: 30px;
    border-radius: 0.6rem;
    padding: 10px;
    margin: 20px 0px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    color: var(--secondary);
}

.buy-div{
    border: 1px solid transparent;
    width: 90px;
    height: 30px;
    border-radius: 0.6rem;
    padding: 10px;
    background-color: green;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    cursor: pointer;
}


.buy-div button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}




footer{
    margin-top: 20px;
    background-color: var(--dark-grey);
}

.footer-tags{
    width: 80%;
    margin: auto;
}

.footer-tags h2{
    color: red;
    padding: 20px 2px;
}

.footer-ul ul li{
    list-style-type: none;
    font : 13px "Monaco",Monospace;
    padding: 3px;
}

.footer-ul ul li:first-child{
    font : bold 15px "Monaco",Monospace;
}

.footer-tags ul li a{
    text-decoration: none;
    color: black;

}

.footer-ul{
    display: grid;
    row-gap: 30px;
    column-gap: 20px;
    grid-template-columns: auto auto auto auto;

}

.top-compo{
    display: grid;
    grid-template-columns: auto auto auto;
}



.button-inner-div{
    padding: 20px 20px;
}

.button-inner-div button{
    background-color: white;
    border: 1px solid transparent;
    width: 180px;
    height: 30px;
    border-radius: 0.6rem;
    cursor: pointer;
}

.redirect-icons{
    padding: 30px;
}


.iconss{
    margin-left: 120px;
}


.redirect-icons ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1px 8px;
}

.redirect-icons ul li a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.redirect-icons ul li a:hover{
    opacity: 1;
}

.footer-term{
    padding-top: 28px;
    margin-left: auto;

}


.footer-term-items a{
    text-decoration: none;
    color: black;
    padding: 0px 4px;
    opacity: 0.4;
    font-size: 13px;
}

.footer-term-items a:hover{
    opacity: 1;
}


.language-ll{
    text-align: center;


}

.language-ll ul{
    display: inline-block;
    text-align: left;
}

.language-ll ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px 10px 15px;

}

.language-ll ul li a {
    font-size: 12px;
    opacity: 0.7;
}

.language-ll ul li a:hover {
    opacity: 1;
}