@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #F9F9F9;
    --blue: #09ff78;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    /* width: 280px; */
    width: 60px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}
/*#sidebar::--webkit-scrollbar {*/
/*    display: none;*/
/*}*/
#sidebar.active {
    width: 230px;
}
#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--dark);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}
#sidebar .brand .bi {
    min-width: 60px;
    display: flex;
    justify-content: center;
}
#sidebar .side-menu {
    width: 100%;

}

#sidebar .side-menu:last-child {
    margin-top: auto ;


}


#sidebar ul{
    margin: 20px;
    padding: 0px;
}



#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}
#sidebar .side-menu li.active {
    /* background: var(--grey); */
    position: relative;


}
#sidebar .side-menu li.active::before,
#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* top: -40px; */
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    /* background-color: red; */
    /* z-index: -1; */
}
#sidebar .side-menu li.active::before {
    top: -40px;
    box-shadow: 20px 20px 0 var(--grey);
}

#sidebar .side-menu li.active::after {
    bottom: -40px;
    box-shadow: 20px -20px 0 var(--grey);
}
#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: width 0.3s ease;
}
#sidebar .side-menu.top li.active a {
    color: var(--blue);
}
#sidebar.active .side-menu li a {
    /* width: calc(48px - (4px * 2)); */
    width: 100%;
    transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
    color: var(--red);

}
#sidebar .side-menu.top li a:hover {
    color: var(--blue);
}
#sidebar .side-menu li a .bx {
    /* min-width: calc(60px  - ((4px + 6px) * 2)); */
    min-width: 48px;
    display: flex;
    /* justify-content: flex-start; */
}
/* SIDEBAR */





/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: .3s ease;
}
#sidebar ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}


/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
#content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
    color: var(--dark);
}
#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}
#content nav .nav-link {
    font-size: 16px;
    transition: .3s ease;
}
#content nav .nav-link:hover {
    color: var(--blue);
}
#content nav form {
    max-width: 600px;
    width: 100%;
    margin-right: auto;
}
#content nav form .form-input {
    display: flex;
    align-items: center;
    margin-left: 200px;
    /* width: 30rem; */
    /* background-color: black; */
    height: 36px;
}
#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}
#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}
#content nav .notification {
    font-size: 20px;
    position: relative;
}
#content nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}
#content nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
}
#content nav .switch-mode::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--dark);
    border-radius: 50%;
    transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
main.table1 {
    width: 100%;
    height: 90vh;
    background-color: transparent;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: transparent;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 50%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    margin: auto auto;
    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    /*overflow: overlay;*/

}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

/* td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
} */

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td, tbody tr td p, tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td, tbody tr.hide td p {
    padding: 0;
    /*font: 0 / 0 sans-serif;*/
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    margin: auto auto;

}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}
/*
@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
} */

thead th span.icon-arrow {
    display: inline-block;
    /* width: 1.3rem;
    height: 1.3rem; */
    /* border-radius: 50%;	 */
    /* border: 1.4px solid transparent; */
    /* text-align: center; */
    /* font-size: 1rem;
    margin-left: .5rem; */
    transition: .2s ease-in-out;
}

/* thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
} */

thead th:hover {
    color: #6c00bd;
}

/* thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
} */

thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

thead th.active, tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    /*background: #fff6 url(images/export.png) center / 80% no-repeat;*/
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    box-shadow: 0 .2rem .5rem #0004;
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label {
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover {
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img {
    width: 2rem;
    height: auto;
}

body.dark main.table {
    background-color: var(--light); /* Dark background for the table */
    box-shadow: 0 .4rem .8rem var(--grey);
}

body.dark .table__header {
    background-color: var(--light);/* Dark background for the table header */
}

body.dark .table__header .input-group {
    /* background-color: var(--dark); */
    background: var(--grey);

}

body.dark .table__body {
    background-color: var(--light); /* Dark background for table body */
}

body.dark thead th {
    background-color: var(--light);
    color: var(--dark); /* Light text color for dark mode */
}

body.dark tbody tr:nth-child(even) {
    background-color: var(--light); /* Darker background for even rows */
}

body.dark tbody tr {
    color: var(--dark); /* Light text color for table rows */
}

body.dark .status.delivered {
    background-color: #28a745;
    color: var(--dark);
}

body.dark .status.cancelled {
    background-color: #dc3545;
    color: var(--dark);
}

body.dark .status.pending {
    background-color: #ffc107;
    color: var(--dark);
}

body.dark .status.shipped {
    background-color: #17a2b8;
    color: var(--dark);
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
    #sidebar {
        width: 60px;
    }

    #sidebar.active {
        width: 240px;
    }

    #sidebar .side-menu li a .bx {
        min-width: 40px; /* Reduce icon size on tablets */
    }

    #sidebar .brand {
        font-size: 20px; /* Smaller brand text on tablets */
    }
    #content {
        width: calc(100% - 60px);
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }
}






@media screen and (max-width: 576px) {

    #sidebar {
        width: 70px; /* Collapsed width on smaller devices */
    }

    #sidebar.active {
        width: 200px; /* Expanded width on smaller devices */
    }

    #sidebar .side-menu li a .bx {
        min-width: 45px;
        margin-left: 10px;
    }

    #sidebar .brand {
        margin-left: 10px;
        font-size: 18px;

    }

    #content nav form .form-input{
        margin-left: 0px;
    }

    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        /*border-radius: none;*/
        color: var(--dark);
    }

    #content nav form.show .form-input input {
        display: block;
        width: 100%;
    }
    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--light);
        background: var(--red);
    }

    #content nav form.show ~ .profile,
    #content nav form.show ~ .switch-mode {
        display: none;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    #content main .table-data .head {
        min-width: 420px;
    }
    #content main .table-data .order table {
        min-width: 420px;
    }
    #content main .table-data .todo .todo-list {
        min-width: 420px;
    }
}