
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

a {
    text-decoration: none;
    color: var(--primary);
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --primary : #000000;
    --secondary : white;
    --light: #F9F9F9;
    --black: #000000;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --white-smoke :whitesmoke;
}


body{
    background-color: var(--secondary);
}

nav{
    background-color: var(--secondary);
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-items: center;
    top: 0;
    right: 0;
    /* z-index: 1000; */

}
.my-nav ul{

    margin: auto auto auto 40px;
    display: flex;
    gap: 30px;
    padding: 20px 10px;

}

.my-nav ul li {

    list-style: none;

}

nav ul li a{

    text-decoration: none;
    color: var(--primary);
    justify-content: center;
}

.profileImage img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}

.searchBar {
    width: 600px;
    height: 40px;
    margin-left: 250px;
    /* padding: 10px; */
}
.searchBar::placeholder{

    color: gray;
    opacity: 1;
    font-style: italic;
    margin-left: 20px;

}
.exchange{
    margin-left: 50px;
    color: var(--primary);

}
.code-scan{
    margin-left: 50px;
    color: var(--primary);
}
.chat{
    margin-left:50px;
    color: var(--primary);
}


.ppa-default-bar{
    width: 100%;
    /* border-bottom: var(--primary); */
    background-color: var(--primary);
    position: fixed;
    top: 80px;
    display: flex;
}

.ppa-bar{

    margin:auto;
}

.ppa-bar ul{

    display: flex;
    gap: 70px;
    margin: 5px auto;
    list-style-type: none;


}

.ppa-bar ul li a{

    text-decoration: none;
    color: var(--secondary);
}

.theme-change{

    width: 50px;
    height: 50px;
    background-color: #8bb399;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 380px;
    border: none;
    position: fixed;
    border-radius: 5rem;
    top: 140px;
    left: 10px;
    z-index: 1001;
}

.brightness-high-fill{
    color: whitesmoke;
}

.announcement{
    border-color: #000000;
    /* margin-top: 70px; */
    padding: 50px;
    width: 80%;
    margin : 80px auto 20px auto;


}

.sec-announ{
    background-color: var(--dark);
    padding: 20px;
    border-radius: 0.4rem;
}



.grid-recent-layout{

    display: grid;
    grid-template-columns: 20% 70%;

}


.sec-sidebar{
    /* background-color: black; */
    width: 80%;
    margin: auto;

}

.sidebar-element{
    border: var(--primary);
    /* padding: 10px 0; */
}

.sidebar-element hr{
    color: var(--dark);
}



.element-name{
    display: flex;
}

.element-button{
    width: 100%;
    border: none;
    background-color: var(--secondary);
    cursor: pointer;
    padding: 15px 0px;
}

.element-button p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.outter-div-child-element {
    display: none;
    transition: all 1s ease-in-out;
}

.outter-div-child-element.active {
    display: block;
}


.element-button svg{
    display: inline-block;
    margin-top: auto;
    margin-left: auto;
}

.inner-div-child-element{
    padding: 8px 8px;
}


.grid-layout-recent{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.grid-layout-recent li{

    width: 190px;
    height: 248px;
}

.recent-view-box{

    height: 100%;
}

.recent-view-box-inner{
    /* background-color: #000000; */
    height: 228px;
}

.fixed-size-image{
    height: 107px;
    border-radius: 0.6rem;
}

.item-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item-name p{
    text-align: center;
    font-size: 16px;
    color: var(--primary);
}

.lowest-price{
    text-align: center;
}

.lowest-price p{
    color: var(--primary);
    font-size: 13px;
}

.price p {
    font-size: 15px;
}

.last-sale{
    text-align: center;

}

.last-sale span{
    text-align: center;
    color: var(--white-smoke);
    /* border-radius: 0.2rem; */
}

.span-ss{
    background-color: var(--dark);
    padding: 2px 7px;
    border-radius: 0.3rem;
}

.add-cart{
    display: flex;
    margin-top: -220px;
    margin-left: 150px;

}

.add-cart button{
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.recommend-product-layout{
    width: 98%;
    height: 294px;
    background-color: whitesmoke;
    margin: 140px auto; /*140px is top bottom/ auto is left right */

}
.grid-layout-recommend{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    list-style: none;
    /* border-radius: 10px; */
    border-color: black;
}
.recommend-layout-recommend li{
    background-color: black;
    border-radius: 5px;
}


footer{
    background-color: var(--dark-grey);
}

.footer-tags{
    width: 80%;
    margin: auto;
}

.footer-tags h2{
    color: red;
    padding: 20px 2px;
}

.footer-ul ul li{
    list-style-type: none;
    font : 13px "Monaco",Monospace;
    padding: 3px;
}

.footer-ul ul li:first-child{
    font : bold 15px "Monaco",Monospace;
}

.footer-tags ul li a{
    text-decoration: none;
    color: black;

}

.footer-ul{
    display: grid;
    row-gap: 30px;
    column-gap: 20px;
    grid-template-columns: auto auto auto auto;

}

.top-compo{
    display: grid;
    grid-template-columns: auto auto auto;
}



.button-inner-div{
    padding: 20px 20px;
}

.button-inner-div button{
    background-color: white;
    border: 1px solid transparent;
    width: 180px;
    height: 30px;
    border-radius: 0.6rem;
    cursor: pointer;
}

.redirect-icons{
    padding: 30px;
}


.iconss{
    margin-left: 120px;
}


.redirect-icons ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1px 8px;
}

.redirect-icons ul li a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.redirect-icons ul li a:hover{
    opacity: 1;
}

.footer-term{
    padding-top: 28px;
    margin-left: auto;

}

/* .footer-term-items{
    margin-left: auto;
} */

.footer-term-items a{
    text-decoration: none;
    color: black;
    padding: 0px 4px;
    opacity: 0.4;
    font-size: 13px;
}

.footer-term-items a:hover{
    opacity: 1;
}


.language-ll{
    text-align: center;


}

.language-ll ul{
    display: inline-block;
    text-align: left;
}

.language-ll ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px 10px 15px;

}

.language-ll ul li a {
    font-size: 12px;
    opacity: 0.7;
}

.language-ll ul li a:hover {
    opacity: 1;
}