<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/loginRegister.css}">
</head>
<body>
<!-- NAVBAR CREATION -->
<header class="header">
    <nav class="navbar">
        <a th:href="@{/ecommerce/main}">Home</a>
        <a href="#">Portfolio</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Help</a>
    </nav>

</header>

<!-- LOGIN FORM CREATION -->
<div class="background"></div>
<div class="container">
    <div class="item">
        <h2 class="logo"><i class='bx bxl-xing'></i>Hash Techie</h2>
        <div class="text-item">
            <h2>Welcome! <br><span>To Our Channel</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, repellendus?</p>
            <div class="social-icon">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
    </div>
    <div class="login-section">

        <!-- Sign Up Form -->
        <div th:if="${registerView == true}">

            <div class="form-box register">
                <form th:action="@{/LogIn/registerProcess}" method="post" th:object="${user}">

                    <h2>Sign Up</h2>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user'></i></span>
                        <input type="text" th:field="*{firstName}" name="firstName" id="firstname" required>
                        <label>First Name</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user'></i></span>
                        <input type="text" th:field="*{lastName}" name="lastName" id="lastname" required>
                        <label>Last Name</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input type="email" th:field="*{email}" name="email" id="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                        <input type="password" th:field="*{password}" name="password" id="password" required>
                        <label>Password</label>
                    </div>


                    <div class="remember-password">
                        <label><input type="checkbox">I agree with this statement</label>
                    </div>
                    <button class="btn" type="submit">Sign Up</button>
                    <div class="create-account">
                        <p>Already Have An Account? <a th:href="@{/LogIn/index}" class="login-link">Sign In</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="login.js"></script>
</body>
</html>
