<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Cart</title>
</head>
<body>
<h2>Order History</h2>
<div th:if="${not #lists.isEmpty(orders)}">
    <table border="1">
        <tr>
            <!--      <th>Item Name</th>-->
            <th>Order Id</th>
            <!--      <th>Price</th>-->
            <th>Total</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.total}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.delivery.getDeliveryName()}"></td>
<!--            <td th:text=""${}></td>-->
        </tr>
    </table>

</div>

<!--<a th:href="@{/userSystem/}"></a>-->

<a th:href="@{/userSystem/showAllItem}">Back to Items</a>

</body>
</html>
